<% @top_5_posts.each_with_index do |result, i| %>
<h2>Title: <%= result['title'] %></h2>
<p style="font-size: 0.8em;">Author: <%= result['name'] %> (<%= result['email'] %>)</p>
<img src="/images/<%= i+1 %>.jpg" width="400px" height="267px" />
<p>Content: <%= result['content'] %></p>
<% end %>
